# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test artifacts
*.test
*.out
coverage.txt
coverage.html

# Assembly dumps written by README examples
asm.txt

# Dependency directories
vendor/

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp
